<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RTE GPT Playground</title>
  <script src="https://cdn.tiny.cloud/1/<%= apiKey %>/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
  <script src="tinygpt-plugin/plugin.js"></script>
  <script src="tinygpt-plugin/tinychat-plugin.js"></script>
  <style>
    body {
      margin: 0;
      padding: 0;
      font-family: sans-serif;
    }
    h1 {
      margin: 0;
      padding: 20px;
      background-color: #0070ba;
      color: #fff;
    }
    p, form {
      margin: 0;
      padding: 20px;
    }
    textarea {
      width: 100%;
      height: 400px;
      border: 0;
      padding: 20px;
      font-size: 16px;
      font-family: monospace;
    }
button.button-primary {
  background-color: #008CBA !important;
  color: #fff !important;
  padding: 6px 12px !important;
  border: none !important;
  border-radius: 4px !important;
  cursor: pointer !important;
}

button.button-secondary {
  background-color: #f2f2f2 !important;
  color: #000 !important;
  padding: 6px 12px !important;
  border: none !important;
  border-radius: 4px !important;
  cursor: pointer !important;
  margin-left: 6px !important;
}


  </style>
  <script>
    tinymce.init({
      selector: '#mytextarea',
      plugins: 'code tinygpt autoresize link fullscreen chatplugin',
      toolbar: 'bold italic underline | chatplugin',
      menubar: true, // Hide the menu bar
      autoresize_bottom_margin: 20, // Add 20 pixels of space at the bottom of the editor
      toolbar_sticky: true, // Make the toolbar float at the top of the viewport
      //min_height: '80%', //set the min height of the editor
      max_height: 1000, //set the max height of the editor
      width:'100%',
      branding: false, // Hide the TinyMCE logo
      init_instance_callback: function (editor) {
        // Set focus to the editor after it has been initialized
        editor.focus();
      },
      menu: {
    file: { title: 'File', items: 'newdocument restoredraft | preview | export print' },
    edit: { title: 'Edit', items: 'undo redo | cut copy paste pastetext | selectall | searchreplace' },
    view: { title: 'View', items: 'code | preview fullscreen | showcomments' },
    insert: { title: 'Insert', items: 'insertblogpost insertjobdescription insertpoem | insertaiimage insertsummary | insertsample'},
    format: { title: 'Format', items: 'bold italic underline strikethrough superscript subscript codeformat | styles blocks fontfamily fontsize align lineheight | forecolor backcolor | language | removeformat' },
    tools: { title: 'Tools', items: 'spellchecker spellcheckerlanguage | a11ycheck code wordcount' },
    table: { title: 'Table', items: 'inserttable | cell row column | advtablesort | tableprops deletetable' },
    help: { title: 'Help', items: 'help' }
  },
  contextmenu: 'link image table | fix formalize shorten expand rephrase | translate',
  content_style: 'body {font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";font-size: 16px;margin: 30px auto;max-width: 680px;padding: 0 15px 0 15px;}h1, h2, h3, h4, h5, h6 {font-weight: bold;line-height: 1.25;margin-top: 30px;margin-bottom: 15px;}h1 {font-size: 36px;}h2 {font-size: 30px;}h3 {font-size: 26px;}h4 {font-size: 22px;}h5 {font-size: 18px;}h6 {font-size: 16px;}p {margin-bottom: 15px;line-height: 1.5;}p.large {font-size: 20px;line-height: 1.6;}p.lead {font-size: 24px;font-weight: 300;line-height: 1.4;margin-top: 45px;margin-bottom: 30px;}blockquote {border-left: 5px solid #ddd;margin: 30px 0;padding: 15px;}blockquote p {font-size: 21px;font-style: italic;line-height: 1.5;margin: 0;}ul, ol {margin-bottom: 15px;line-height: 1.5;}ul li, ol li {font-size: 16px;line-height: 1.5;margin: 0 0 10px;}a {color: #0071c5;text-decoration: none;border-bottom: 1px solid #0071c5;transition: 0.2s border-color ease-in-out;}a:hover {border-color: #000;}img {max-width: 100%;margin-bottom: 15px;height: auto; object-fit: cover;aspect-ratio: 16/9;}pre {background-color: #f8f8f8;border: 1px solid #ddd;border-radius: 3px;font-family: monospace;font-size: 16px;line-height: 1.5;overflow: scroll;padding: 15px;margin-bottom: 15px;}code {background-color: #f8f8f8;border-radius: 3px;font-family: monospace;font-size: 16px;padding: 2px 5px;}',
  visual_table_class: 'tiny-table',
    mobile: {
      menubar: true,
    }
    });
  </script>
</head>
<body>
  <h1>RTE GPT Playground</h1>
  <form method="post">
    <textarea id="mytextarea">
    </textarea>
  </form>
</body>
</html>
